body {
  font-family: serif;
  color: #000000;
}

/*--------------------NavBar Styles--------------------*/

.jumbotron {
  background-color: #000000;
  color: #FFFFFF;
}

.nav h3 {
  font-size: 15pt;
  text-align: right;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
  color: #FF0000;
}

.menu-item {
  margin-left: 0px;
}

/*--------------------Content Styles--------------------*/

.content {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

img {
  background-size: cover;
  width: 100%;
  margin-bottom: 0px;
}

/*--------------------Footer Styles--------------------*/

.footer {
  position: static;
  bottom: 0px;
  width: 100%;
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.footer h4 {
  font-size: 15pt;
  text-align: left;
  color: #FFFFFF;
}
