body {
  font-family: serif;
  color: #000000;
}

.jumbotron {
  background-color: #000000;
  color: #FFFFFF;
}

.nav {
  margin-left: -35px;
}

.nav h3 {
  font-size: 15pt;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
  color: #FF0000;
}

.content {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
