body {
  font-family: serif;
  color: #000000;
}

/*--------------------NavBar Styles--------------------*/

#navbar {
  background-color: #000000;
  color: #FFFFFF;
}

.nav h3 {
  font-size: 15pt;
  text-align: right;
}

.nav a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav a:hover {
  text-decoration: none;
  color: #FF0000;
}

/*--------------------Table Styles--------------------*/

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding-right: 25px;
  padding-left: 25px;
}

#agency-name {
  margin-right: 20px;
}

.table-values td {
  border-right: 3px solid black;
}

table td:last-child {
  border-right: none;
}

table h3 {
  text-align: center;
  font-size: 18pt;
  margin-top: 35px;
}

#email {
  text-align: center;
  font-size: 18pt;
  margin-top: 75px;
  margin-bottom: 50px;
}

/*--------------------Footer Styles--------------------*/

.footer {
  position: static;
  bottom: 0px;
  width: 100%;
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.footer h4 {
  font-size: 15pt;
  text-align: left;
  color: #FFFFFF;
}
